{% extends 'base.html' %}

{% block additional_headers %}
{% load static %}
<link href="{% static "css/discovery/styles.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="background-primary-dark text-white" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;">
    <div class="container text-center">
        <h1 style="font-size: 10rem;"><span style="font-weight: 900;">Disco?</span> Very.</h1>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>Specific, real time, and democratic assessment of science does a lot of good, so thanks for doing good!</h1>
                <div class="row">
                    <div class="col-md-4">
                        <a class="lead" href="#">How do I give ratings?</a>
                    </div>
                    <div class="col-md-4">
                        <a class="lead" href="#">Info about the questions we ask</a>
                    </div>
                    <div class="col-md-4">
                        <a class="lead" href="#">How am I helping science/scientists?</a>
                    </div>
                </div>
                <br />
                {% if IS_PRODUCTION %}
                <a class="btn btn-round btn-lg btn-success" href="{% url "social:begin" "orcid-member" %}?next={{ request.path }}">LOGIN WITH ORCID</a>
                {% else %}
                <a class="btn btn-round btn-lg btn-success" href="{% url "social:begin" "orcid-sandbox-member" %}?next={{ request.path }}">LOGIN WITH ORCID</a>
                {% endif %}
            </div>
        </div>
    </div> <!-- /container -->
</div>
{% endblock %}