{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1><strong>The Discovery Engine</strong></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 text-left">
            <h3>Welcome, {{user.first_name}}.</h3>
        </div>
        <div class="col-md-6 text-right">
            <a href="/logout"><h3>Logout</h3></a>
        </div>
    </div>
    <br />
    <!-- <div class="row">
        <div class="col-md-12">
            <p class="lead">Would you like to rate a paper? Let's get started.</p>
            <p class="lead">First, input the DOI of the paper below.</p>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="doi">DOI</label>
                    <input id="doi" class="form-control" type="text" name="doi" placeholder="DOI" aria-describedby="doiHelpBlock" />
                    <span id="doiHelpBlock" class="help-block">Use the DOI to search for the paper you would like to rate.</span>
                </div>
            </form>
            <button id="searchButton" class="btn btn-primary" onclick="searchByDOI()">Search</button>
        </div>
        <div id="rate" class="col-md-6" style="visibility: hidden;">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <p id="article-title"></p>
                    <small id="article-authors"></small>
                </div>
            </div>
        </div>
    </div>
<!-- 
    <h1 style="font-size: 10rem;"><span style="font-weight: 900;">Disco?</span> Very. RATE THIS</h1>
    <div class-"row">
        <div class="col-md-6 col-md-offset-3">
            <h3 style="font-weight: bold;">Font Family: <a href="https://www.fontsquirrel.com/fonts/montserrat" target="_blank">Montserrat</a></h3>
            <p style="font-size: large;"><strong>Sample text:</strong> At the Discovery Engine, we're creating the first direct, systematic and quantifiable measure of Discovery Value. For the first time, scientists will have the means to understand where, how, and why we create new discoveries. And with this understanding, we can help realign Science toward its most important principles.</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <h3 style="font-weight: bold;">COLORS</h3>
            <h3 class="text-primary" style="font-weight: bold;">PRIMARY COLOR: #408DFF</h3>
            <h3 class="text-info" style="font-weight: bold;">INFO COLOR: #39FF8D</h3>
            <h3 class="text-success" style="font-weight: bold;">SUCCESS COLOR: #6249EE</h3>
            <h3 class="text-warning" style="font-weight: bold;">WARNING COLOR: #FF9F1C</h3>
            <h3 class="text-danger" style="font-weight: bold;">ERROR COLOR: #FF3366</h3>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <h3 style="font-weight: bold;">BUTTONS</h3>
            <button class="btn btn-round btn-lg btn-transparent">TRANSPARENT BUTTON</button>
            <br /><br />
            <button class="btn btn-round btn-lg btn-default">DEFAULT BUTTON</button>
            <br /><br />
            <button class="btn btn-round btn-lg btn-primary">PRIMARY BUTTON</button>
            <br /><br />
            <button class="btn btn-round btn-lg btn-success">SUCCESS BUTTON</button>
            <br /><br />
            <button class="btn btn-round btn-lg btn-warning">WARNING BUTTON</button>
            <br /><br />
            <button class="btn btn-round btn-lg btn-danger">ERROR BUTTON</button>
        </div>
    </div> -->
</div>
{% endblock %}

{% block before_closing_body %}
<script src="/static/bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
<script src="/static/bower_components/handlebars/handlebars.min.js"></script>
<script src="/static/bower_components/moment/min/moment.min.js"></script>
<script src="/static/js/doi.typeahead.js"></script>
{% endblock %}