{% extends 'base.html' %}

{% block additional_headers %}
{% load static %}
<link href="{% static "discovery/css/styles.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form action="#" onsubmit="searchByDOI(); return false;">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="doi-addon">DOI:</span>
                        <input id="doi" class="form-control" type="text" name="doi" placeholder="example: 10.3389/fnsys.2013.00008" aria-describedby="doiHelpBlock" />
                        <span class="input-group-btn">
                            <button id="searchButton" class="btn btn-primary" onclick="searchByDOI()" type="button">Search</button>
                        </span>
                    </div>
                    <span id="doiHelpBlock" class="help-block">Use the DOI to search for the paper you would like to rate.</span>
                </div>
            </form>
            <hr />
            <h2 class="text-info">Feedback?</h2>
            <p>We'd love to hear your thoughts on the Discovery Engine! So if you have any suggestions or feedback, or if you just want to tell us how awesome this is, drop us a line!</p>
            <a class="btn btn-info btn-block btn-round" href="mailto:feedback@thediscoveryengine.org">Submit Feedback</a>
        </div>
        <div id="rate" class="col-md-6" style="visibility: hidden;">
            <div class="panel text-white background-primary">
                <div class="panel-body">
                    <p class="lead" id="article-title"></p>
                    <p id="article-authors"></p>
                </div>
            </div>
            {% if IS_PRODUCTION %}
            <a class="btn btn-round btn-block btn-danger" href="{% url "social:begin" "orcid-member" %}?next={{ next }}">Login to Rate</a>
            {% else %}
            <a class="btn btn-round btn-block btn-danger" href="{% url "social:begin" "orcid-sandbox-member" %}?next={{ next }}">Login to Rate</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block before_closing_body %}
{% load static %}
<script src="{% static "js/vendor/typeahead.bundle.min.js" %}"></script>
<script src="{% static "js/vendor/handlebars.min.js" %}"></script>
<script src="{% static "js/vendor/moment.min.js" %}"></script>
<script src="{% static "js/vendor/js.cookie.js" %}"></script>
<script src="{% static "discovery/js/doi.typeahead.js" %}"></script>
{% endblock %}