<!DOCTYPE html>
<html lang="en">
	<head>
		{% include "meta.html" %}
		<!-- MUST COME FIRST -->
		<!-- <meta charset="utf-8"> -->
		<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
		<!-- /FIRST METAS -->
		
		<meta name="description" content="Discovery Engine: Bending the arc of science toward discovery">
		<meta name="author" content="Discovery Engine">

		<link rel="icon" href="./img/favicon.ico">

		{% include "css.html" %}
		<!-- <link href="../static/css/bootstrap.css" rel="stylesheet"> -->
		<!-- <link href="../static/css/fonts.css" rel="stylesheet"> -->
		
		<title>Discovery Engine</title>
	</head>
	
	<body>
		{% block content %}{% endblock %}		
		<!-- <div class="container text-center">
			<h1 style="font-size: 10rem;"><span style="font-weight: 900;">Disco?</span> Very.</h1>
			<div class-"row">
				<div class="col-md-6 col-md-offset-3">
					<h3 style="font-weight: bold;">Font Family: <a href="https://www.fontsquirrel.com/fonts/montserrat" target="_blank">Montserrat</a></h3>
					<p style="font-size: large;"><strong>Sample text:</strong> At the Discovery Engine, we're creating the first direct, systematic and quantifiable measure of Discovery Value. For the first time, scientists will have the means to understand where, how, and why we create new discoveries. And with this understanding, we can help realign Science toward its most important principles.</p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<h3 style="font-weight: bold;">COLORS</h3>
					<h3 class="text-primary" style="font-weight: bold;">PRIMARY COLOR: #408DFF</h3>
					<h3 class="text-info" style="font-weight: bold;">INFO COLOR: #39FF8D</h3>
					<h3 class="text-success" style="font-weight: bold;">SUCCESS COLOR: #6249EE</h3>
					<h3 class="text-warning" style="font-weight: bold;">WARNING COLOR: #FF9F1C</h3>
					<h3 class="text-danger" style="font-weight: bold;">ERROR COLOR: #FF3366</h3>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<h3 style="font-weight: bold;">BUTTONS</h3>
					<button class="btn btn-round btn-lg btn-transparent">TRANSPARENT BUTTON</button>
					<br /><br />
					<button class="btn btn-round btn-lg btn-default">DEFAULT BUTTON</button>
					<br /><br />
					<button class="btn btn-round btn-lg btn-primary">PRIMARY BUTTON</button>
					<br /><br />
					<button class="btn btn-round btn-lg btn-success">SUCCESS BUTTON</button>
					<br /><br />
					<button class="btn btn-round btn-lg btn-warning">WARNING BUTTON</button>
					<br /><br />
					<button class="btn btn-round btn-lg btn-danger">ERROR BUTTON</button>
				</div>
			</div>
		</div> -->

		{% include "javascript.html" %}
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
		<script src="../static/js/bootstrap.min.js"></script> -->
	</body>
</html>
